.form_register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form_register input{
    width: 30%;
    border: none;
    border-radius: 5px;
}

.button_register{
    border-radius: 5%;
    border: none;
    background-color: grey;
    width: 8%;
    height: 20px;
}